@font-face {
  font-family: 'Almarena';
  src: url('../fonts/AlmarenaDisplayRegular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Almarena';
  src: url('../fonts/AlmarenaDisplayBold.otf') format('opentype');
  font-weight: bold;
}

h1,h2 {
  font-family: 'Almarena';
}

h1 {font-weight: normal;}
h2 {font-weight: bold;}